PORT=
NODE_ENV=
DATABASE_URL=
LOCAL_DATABASE_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=
JWT_ACCESS_TOKEN=
XENDIT_SECRET_KEY=
XENDIT_CALLBACK_TOKEN=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
HASHED_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
NETLIFY=
